
<!-- <p>{{ speciesList | json}}</p> -->
<div class="search-container">
    <input [formControl]="searchControl" placeholder="Search species" #searchInput>
  </div>

<div class="spacer"></div>

<div *ngIf="speciesList" class="species-list">
    <!-- <p>test if speciesList</p> -->
    <div *ngFor="let pokemon of speciesList" class="species-card">
        <!-- <p>test for</p> -->
        
            <div [routerLink]="['/species', pokemon.id]" class="pokemon-image">
                <img [src]="pokemon.image" alt="Pokemon Image">
            </div>
            <div class="pokemon-info">
                <div class="property">
                <span>ID:</span> {{ pokemon.id }}
                </div>
                <div class="property">
                <span>Name:</span> {{ pokemon.name }}
                </div>
                
                <div class="property_image">
                <span>Image:</span> {{ pokemon.image }}
                </div>
            </div>  
        
    </div>
</div>

