
<p>{{ speciesList | json}}</p>

<!-- <div *ngIf="speciesList" class="species-list">
    <p>boucle if</p>
    <p>{{ speciesList | json}}</p>
    <div *ngFor="let species of speciesList" class="species-card">
        <p>boucle for</p>
        <p>{{ species | json}}</p>
    </div>
  </div> -->

  <!-- <div *ngIf="speciesList" class="species-list">
    <div *ngFor="let species of speciesList" class="species-card">
      <a [routerLink]="['/details', getIdFromUrl(species.url)]">
        <p>{{ species.name }}</p>
      </a>
    </div>
  </div> -->