<div class="dialog">
    <div *ngIf="loading" class="loading-indicator">
        Identifying species...
      </div>
    <div class="dialog-content">
        <form (ngSubmit)="submitForm()" #imageForm="ngForm">
            <label for="imageInput">Put here an image of the pokemon you just discovered!</label>
            <input type="file" id="imageInput" name="image" ngModel required #imageInput/>
            <div *ngIf="fileError" class="error-message">
              Please choose a valid image.
              {{ fileError }}
            </div>
        </form>

        <div class="close-icon">
            <span (click)="cancel()">X</span>
        </div>
    </div>
    <div class="dialog-actions">
        <button type="button" (click)="cancel()">Cancel</button>
        <button type="submit" (click)="submitForm()" [disabled]="imageForm.invalid">Confirm</button>
    </div>
  </div>