<div class="dialog">
    <div *ngIf="loading" class="loading-indicator">
        Identifying species...
      </div>
    <div class="close-icon">
        <span (click)="cancel()">x</span>
    </div>
    <div class="dialog-content">
        <form #imageForm="ngForm">
            <label for="imageInput">Put here an image of the pokemon you just discovered!</label>
            <input type="file" id="imageInput" name="image" (change)="onFileSelect($event)" ngModel required #imageInput/>
            <div *ngIf="imagePreview" class="image-preview">
              <img [src]="imagePreview" alt="Preview Image">
              <button type="button" (click)="clearImage()">Clear</button>
            </div>
            <div *ngIf="fileError" class="error-message">
              Please choose a valid image.
              {{ fileError }}
            </div>
        </form>
    </div>
    <div class="dialog-actions">
        <button type="button" (click)="cancel()">Cancel</button>
        <button type="submit" (click)="submitForm()" [disabled]="imageForm.invalid">Confirm</button>
    </div>
  </div>